$navWidth: 7.5rem;

.loading-enter {
    top: 0px;
}
.loading-enter-active {
    top: 80px;
    transition: all 500ms ease-out;
}

// .example-leave {
//     top: 80px;
// }
// .example-leave-active {
//     top: 0;
//     transition: all 300ms ease;
// }
.nav-transition {
    height: 100%;
}

.navopen-enter {
    width: 0;
}
.navopen-enter-active {
    width: $navWidth;
    transition: width 600ms ease-out;
}
.navopen-leave {
    width: $navWidth;
}
.navopen-leave-active {
    width: 0;
    transition: width 500ms ease-in;
}