$navWidth: 7.5rem;

.loading-enter {
    top: 0px;
}
.loading-enter-active {
    top: 1.5rem;
    transition: all 500ms ease-out;
}

// .example-leave {
//     top: 80px;
// }
// .example-leave-active {
//     top: 0;
//     transition: all 300ms ease;
// }
.nav-transition {
    height: 100%;
}

.navopen-enter {
    margin-left: -$navWidth;
}
.navopen-enter-active {
    margin-left: 0;
    transition: margin-left 600ms ease-out;
}
.navopen-leave {
    margin-left: 0;
}
.navopen-leave-active {
    margin-left: -$navWidth;
    transition: margin-left 500ms ease-in;
}