body{
    background: #E1E1E1;
}

.nav {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 26px;
    background: #434343;
}

.loading{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
}