$navWidth : 7.5rem;
$headerHeight : 1.3rem;

@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

body, nav, div, ul { -webkit-overflow-scrolling: touch; }
a{ text-decoration: none; color: #333;}

.iconfont {
    @include font-dpr(18px);
}

html, body, #root, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #fff;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif;
}

.main {
    overflow: hidden;
    width: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    // position: relative; //父级overflow: hidden; 子元素绝度拆定位会失效，此时要给父元素加相对定位
    
    .nav {
        width: $navWidth;
        position: relative;
        // width: 5rem;  //不能直接给nav设宽度，不然动画无效
        color: #fff;
        height: 100%;
        @include font-dpr(16px);
        background: #555555;

        .nav-con {  //用这个nav的子元素把nav撑起来

            .nav-user{
                width: 100%;
                padding: 1rem 0 0.3rem 0;
                text-align: center;
            }

            .nav-user-header{
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
            }

            .nav-sign{
                line-height: 1rem;
            }

            a {
                @include font-dpr(16px);
                color: #fff;
                // padding: 0.2rem 0.8rem;
                display: block;
            }
            a.nav-active {
                color: #FD971F;
            }

            i {
                padding-right: 0.2rem;
            }

            .nav-item {
                // display: flex;
                // justify-content: flex-start;
                // align-items: center;
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 0.2rem 0.8rem;
            }
        }

        .city-weather {
            @include font-dpr(18px);
            line-height: 0.7rem;
            width: 2.5rem;
            text-align: center;
            position: absolute;
            bottom: 0.5rem;
            right: 0.4rem;
        }
    }

    .content {
        width: 10rem;
        overflow: hidden;
        height: 100%;
        // position: absolute;
        // top: 0;
        left: $navWidth;

        .list-container {
            position: relative;
            height: 100%;
            overflow: hidden;
        }
        
        .common-list-scroll{
            z-index: 9;
            height: 100%;   //要让谁滚动条滚动就要限死它的高度，不能用auto
            overflow-y: auto; 
        }

        .common-list-hidden{
            overflow: hidden;
        }

        .girl-item{
            text-align: center;
            margin: 0.15rem;

            img{
                width: 9.6rem;
            }
        }

        .common-item {
            display: block;
            width: 10rem;
            @include font-dpr(16px);
            line-height: 0.7rem;
            padding: 0.3rem 0.5rem;
            box-sizing: border-box;

            &+.common-item {
                border-top: 1px solid #dadada;
            }

            .item-msg{
                @include font-dpr(12px);
            }
            .item-time{
                margin-right: 1rem;
                color: #FF7B28;
            }
            .item-author{
                color: #434343;
            }
        }
    }

    
    a {
        @include font-dpr(16px);
    }

    .header {
        width: 10rem;
        height: $headerHeight;
        line-height: $headerHeight;
        color: #fff;
        @include font-dpr(20px);
        background: #434343;
        display: flex;
        justify-content: flex-start;

        .open-nav {
            display: block;
            width: $headerHeight;
            height: $headerHeight;
            text-align: center;
        }

        .header-title {
            height: 1.3rem;
        }
    }

}



.loading {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 1.5rem;
    left: 4.3rem;
    background: #fff;
    padding: 0.2rem;
    border-radius: 50%;
}